<!DOCTYPE html>
<html lang="en">
<head>

    {# Load template tags #}
    {% load static %}
    {% load message_themes %}

    {# Meta tags #}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {# Title and Icon #}
    <title>{{ WEBSITE_NAME }}{% block title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'images/logo.png' %}">

    {# Static Files #}
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
    <script src="{% static 'js/alpine__3_13_0.min.js' %}" defer></script>
    <script src="{% static 'js/htmx__1_9_5.min.js' %}"></script>
    {# Extra static block #}
    {% block extra_static %}{% endblock %}
</head>


<body class=" text-gray-700 max-w-screen bg-gray-100" x-data="{sidebarOpen: false}" @keydown.esc="sidebarOpen=false">

{# Sidebar #}
{% include "shared/sidebar.html" %}

{# Navbar #}
{% include 'shared/navbar.html' %}

{# Spacer to provide for fixed navbar #}
<div class="h-20 w-screen"></div>

{# Display messages #}
<div class="px-5">
    {% for message in messages %}
        <div class="{% message_theme message.tags %} alert flex items-center" x-data="{show:true}" x-show="show">
            <div class="grow">{{ message }}</div>
            <button class="text-indigo-700" @click="show=false">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                    <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
                    <path d="M0 0h24v24H0z" fill="none"/>
                </svg>
            </button>
        </div>
    {% endfor %}
</div>

<main class="px-5">

    {# Breadcrumb #}
    {% include 'shared/breadcrumbs.html' %}

    {# Main Block #}
    <div class="mt-5">
        {% block main %}{% endblock %}
    </div>
</main>
</body>
</html>
